@model projetGestionProduit.Models.Category

@{
    ViewData["Title"] = "Détails de la catégorie";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Catégorie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-warning">Modifier</a> |
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>

    </div>
</div>
